html, body {
    margin: 0;
    padding: 0;
}


/* images */

.van-gogh-avatar, .user-avatar {
    width: 34px;
    border-radius: 50%;
}

.user-avatar {
    margin-bottom: 12px;
    margin-right: 0x;

}

.logo {
    width: 127px;
    margin-right: 190px;
    margin-left: 8px;
}

.van-gogh-avatar {
    margin-top: 8px;
    position: absolute;
    margin-left: 12px;
}

.Van-gogh-post {
    width: 375px;
    height: 375px;
    left: 0px;
    top: 55px;
    margin: 55px auto 0 auto;
}

.btn {
    width: 22.38px;
    margin-top: 12px;
    margin-right: 10px;
    border-radius: 0;
}

.btn:hover, .btn:focus {
    opacity: 0.5;
}

/* Typography */

.Van-gogh-name {
    position:absolute;
    font-size: 13px;
    margin-top: 9px;
    margin-left: 53px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}

.place {
    position: absolute;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-top: 25px;
    margin-left: 53px;
    line-height: 15px;
}

.likes {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    margin-top: 8px;
}

/* layout */

.container {
    width: 375px;
    margin: 0 auto;
    padding-right: 0;
}

header .container {
    border-bottom: 1px solid #C6C6C6;
    
}

.interaction-section {
    margin-left: 10px;
}

