html, body {
    margin: 0;
    padding: 0;
}

/* layout */

.container {
    width: 375px;
    margin: 0 auto;
    padding-right: 0;
}

header .container {
    border-bottom: 1px solid #C6C6C6;
    
}

.van-gogh-avatar, .van-gogh-name {
    display: inline-block;
}

/* images */

.van-gogh-avatar, .user-avatar {
    width: 34px;
    border-radius: 50%;
}

.user-avatar {
    margin-bottom: 12px;
    margin-right: 0x;

}

.logo {
    width: 127px;
    margin-right: 190px;
    margin-left: 8px;
}

.van-gogh-avatar {
    margin-top: 8px;
    position: absolute;
}


/* Typography */

.Van-gogh-name {
    font-size: 13px;
    margin-top: 11;
    margin-left: 40px;
    
}