html, body {
    margin: 0;
    padding: 0;
}

/* layout */

.container {
    width: 375px;
    margin: 0 auto;
    border: 1px solid;
}



/* images */

.user-avatar {
    width: 34px;
    border-radius: 50%;

}

.logo {
    width: 127px;
    margin-right: 183px;
}
